a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.form-control:focus {
  /* box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%); */
  box-shadow: 0 0 0 0.25rem rgb(207 207 207);
  border-color: #ffffff;
}

.min-vh-80 {
min-height: 70vh !important;
}

.w-48 {
width: 100% !important;
}


.min-vh-60 {
  min-height: 60vh !important;
  }
  

.card-footer {
background-color: rgba(255, 255, 255, 0);
/* border: 1px solid rgba(255, 255, 255, 0);
border-top: 1px solid rgb(0, 0, 0); */
}

#header {
  /* background: linear-gradient(181deg, #c1c1c1, #f9c7c7); */
 /*  background: linear-gradient(358deg, #b1afaf, #fdf0f0); */
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(197, 197, 197);
  box-shadow: 0 0 10px rgb(179 179 179 / 50%);
}


.row > * {

  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
  
}





#footer {
  background: linear-gradient(0deg, #3c3c3c, #000000);
}